<IfModule mod_rewrite.c>
    <IfModule mod_negotiation.c>
        Options -MultiViews
    </IfModule>
    
    RewriteEngine On
    
    RewriteCond %{REQUEST_FILENAME} -d [OR]
    RewriteCond %{REQUEST_FILENAME} -f
    RewriteRule ^ ^$1 [N]

    RewriteCond %{REQUEST_URI} (\.\w+$) [NC]
     #RewriteRule ^(.*)my-page/images my-page/$1/images
    RewriteRule ^(.*)$ public/$1
    #RewriteRule ^([0-9]+).html /abc.php?id=$1 [QSA,L]
    

    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteRule ^ server.php

    # Handle Authorization Header
    RewriteCond %{HTTP:Authorization} .
    RewriteRule .* - [E=HTTP_AUTHORIZATION:%{HTTP:Authorization}]

    SetEnvIf X-Forwarded-Proto "https" HTTPS=on

    #RewriteEngine on
    #RewriteCond %{HTTPS} !=on
    #RewriteCond %{HTTP:X-Forwarded-Proto} !https [NC]
    #RewriteRule ^ https://%{HTTP_HOST}%{REQUEST_URI} [L,R=301]

</IfModule>